name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Login to GHCR
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}

      # 2. Build & Push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}

      # 3. Update deployment.yaml with new image
      - name: Update image tag
        run: |
          sed -i.bak "s|image: .*|image: ghcr.io/${{ github.repository }}:${{ github.sha }}|" k8s/deployment.yaml
          rm k8s/deployment.yaml.bak
          echo "Updated image to ghcr.io/${{ github.repository }}:${{ github.sha }}"

      # 4. Commit & Push changes
      - name: Commit and push deployment update
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add k8s/deployment.yaml

          if ! git diff --cached --quiet; then
          git commit -m "Update image to ${{ github.sha }}"
          git push https://x-access-token:${{ secrets.GITOPS_PAT }}@github.com/${{ github.repository }}.git HEAD:main
          echo "Changes committed."
          else
          echo "No changes to commit."
          fi