name: CI/CD Pipeline
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build-and-push:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:latest
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            - name: Update GitOps repository
            shell: bash
            env:
              GIT_TOKEN: ${{ secrets.GITOPS_PAT }}
            run: |
              git config --global credential.helper store
              echo "https://${GIT_TOKEN}:x-oauth-basic@github.com" > ~/.git-credentials
              
              rm -rf gitops
              git clone https://github.com/javi-jmnz/argocd.git gitops
              cd gitops
              
              # Reemplaza la imagen, sin importar la actual
              sed -i "s|image: .*|image: ghcr.io/${{ github.repository }}:${{ github.sha }}|g" deployment.yaml
              
              git config --global user.name "GitHub Actions"
              git config --global user.email "actions@github.com"
              git add deployment.yaml
          
              if git diff --cached --quiet; then
                echo "No changes to commit."
              else
                git commit -m "Update image to ${{ github.sha }}"
                git push -f https://${GIT_TOKEN}@github.com/javi-jmnz/argocd.git main
              fi
